*.db
*.spec
__pycache__
*/dist/*
*/build/*
TEMP*
text.py
out
*.log
*.spec
test.py
README.html
*.7z
*.mp4
*.mkv
*.wav
.DS_Store
.idea
*info
*.afphoto
*output
*skinSource
*database.db
*视频封面*
*.bdi
*.bds
